<div>
	<div class="row" >
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >

		<!--Header-->
		<h4 ng-style="vm.state.headerStyle">
			5. Billing
		</h4>

		<div style='height: 50px; width: 192px; overflow: hidden'>
			<img src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/042016/untitled-1_103.png?C1Kx9vbHdUsOu14DpRXMwK7zuFII2FO4&itok=nFYi4uog" alt="" style='margin-top: -70;'>
		</div>
		
		<br>
		<p>All credit card processing is handled through Square's secure server.</p>
		

		
		

		<div class="form-group">
			<!--Card Number-->
			<label for="sq-card-number">Card Number</label>
			<div 	ng-model='vm.userData.card.card_number' 
					id="sq-card-number" 
					name='sq-card-number'
					class="form-control"></div>
			
			<!--CVV-->
			<label for="sq-cvv">CVV</label>
			<div 	ng-model='vm.userData.card.card_number' 
					id="sq-cvv" 
					name='sq-cvv'
					class="form-control"></div>

			<!--Expiration Date-->
			<label for="sq-expiration-date">Expiration Date</label>
			<div 	ng-model='vm.userData.card.card_number' 
					id="sq-expiration-date" 
					name='sq-expiration-date'
					class="form-control"></div>

			<!--Postal Code-->
			<label for="sq-postal-code">Postal Code</label>
			<div 	ng-model='vm.userData.card.card_number' 
					id="sq-postal-code" 
					name='sq-postal-code'
					class="form-control"></div>

		</div>

		
	</div>
	</div>
</div>