<div>
<div class="row" >
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >

	<!--Header-->
	<h4 ng-style="">
		3. Contact Information
		<span class='glyphicon glyphicon-ok' ng-show='vm.state.sectionComplete'></span>
	</h4>

	<p>What is the best way for us to keep in touch with you?</p>

	<!--Success Alert-->
	<div class="alert alert-success" role="alert" ng-show='vm.state.sectionHeaders.contactInfo.showCompleted'>
	  All you contact info looks good
	</div>
	<!--Error Alert-->
	<div class="alert alert-danger" role="alert" ng-show='vm.state.sectionHeaders.contactInfo.showError'>
	  Please make sure to complete all your contact information
	</div>

	
	<form name='contactInfo'>
		<!--Name-->
		<div class="form-row">
			<div class="col">
				<div class="form-group">
					<label for="firstNameInput">First Name</label>
					<input 	type="text" 
							class="form-control ng-valid" 
							id="firstNameInput" 
							name='firstNameInput'
							placeholder="Enter first name here"
							ng-model='vm.userData.name.first'
							required>
					<div class='valid-feedback'>Looks good!</div>
					<div class="invalid-feedback">Need at least 1 letter</div>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="lastNameInput">Last Name</label>
					<input 	type="text" 
							class="form-control" 
							id="lastNameInput" 
							placeholder="Enter last name here"
							ng-model='vm.userData.name.last'
							required>
				</div>
			</div>
		</div>
	
		<!--Phone-->
		<div class="form-group">
			<label for="phoneNumber">Phone number</label>
			<input 	type="text" 
					class="form-control" 
					id="phoneNumber"  
					placeholder="Enter phone number here"
					ng-model='vm.userData.contact.phone'
					required>
		</div>

		<!--Email-->
		<div class="form-group">
			<label for="emailAddress">Email address</label>
			<input 	type="email" 
					class="form-control" 
					id="emailAddress" 
					placeholder="Enter email here"
					ng-model='vm.userData.contact.email'
					required>
			<small id="emailHelp" class="form-text text-muted">We'll never share your email or phone with anyone else.</small>
		</div>

	</form>

</div>
</div>
</div>