<div>
	<div class="container">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
	
	<!--Spaceing-->
	<br><br>

	<!--Service Description-->
	<h2>Monthly Subscription Package</h2>

	<p>If you're as much of a nut lover as we are our monthly subscription package is a great way to make sure you've always got a tasty treat around. </p> 

	<p>At the beginning of every month we ship near and far so you don't have to track us down at a farmers market or remember to place that order in time for the holidays.</p>

	<p>When you sign up for our monthly subscription package we'll charge your card on file and nuts will arrive without you needing to do anything else, what could be better than that.</p>

	<p>Happy snacking!</p>

	<!--Product Selection-->
	
	<product-selection>
	</product-selection>

	<!--Frequency Selection-->
	<!--<frequency-selection>
	</frequency-selection>-->

	<!--Address Input-->
	<single-address-input>
	</single-address-input>

	<!--Contact Submit-->
	<contact-input>
	</contact-input>

	<!--Billing Input-->
	<billing-input>
	</billing-input>

	<!--Billing Address-->
	<billing-address>
	</billing-address>

	<!--Submission-->
	<sub-terms-cond>
	</sub-terms-cond>

	</div>
	</div>
</div>