<div>
<div class="row" >
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >

	<!--Header-->
	<h4 ng-style="vm.state.headerStyle">
		1. Choose Your Favorite Nuts 
		<i class="fas fa-question-circle fa-xs" style="color:blue" ng-click='vm.state.infoBox=!vm.state.infoBox'></i>
		
		
	</h4>
	
	<p>Choose your favorite flavors.  Select up to four different flavors.  Your 4th flavor is FREE!!!</p>
	
	<!--Menu Explaination-->
	<div class="row">
		<div 	ng-show='vm.state.infoBox'
				class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
			
			<p>We offer seven different nut & recipie combinations to make our seven different flavors.</p>

			<ul>
				<li ng-repeat='flavor in vm.flavors track by $index'>
					<strong>{{flavor.name}}</strong> <br>
					<p>{{flavor.description}}</p>
				</li>
			</ul>
			<!--<strong>Secret Recipe Pecans</strong> <br>
			<p>Sweet Pecans roasted and glazed in our world famous secret recipe glaze - the perfect combination of sweet vanilla with a hint of saltiness. Mmmmm!</p>
			<p>Great as a stand alone snack or chop them up and use them as a topping for ice cream, yogurt, salads and more!</p> <br>

			<strong>Drunken Pecans</strong> <br>
			<p>Did Someone say Whiskey???</p>
			<p>A different take on our famous Secret Recipe Pecans - we swap out the Vanilla with Whiskey! Still sweet, still salty - but with a hint of a taste of whiskey!</p>
			<p>Great as a stand alone snack or chop them up and use them as a topping for ice cream. These go great with Blue Cheese, Feta or Gorgonzola in a salad. Chop these up and sprinkle them on Pancakes, Waffles or French Toast!</p> <br> 

			<strong>Cinnamon Pecans</strong> <br>
			<p>Sweet Pecans roasted and glazed in a sweet Cinnamon and Vanilla glaze.</p>
			<p>Great as a stand alone snack or chop them up and use them as a topping for Ice Cream, Yogurt or your favorite Salad.</p> <br>

			<strong>Secret Recipe Cashews</strong> <br>
			<p>Delicious large Cashews roasted and glazed in our world famous secret recipe glaze - the perfect combination of sweet Vanilla with a hint of Saltiness. Mmmmm!</p>
			<p>Great as a stand alone snack or chop them up and use them as a topping for ice cream, yogurt, salads and more!</p> <br>

			<strong>Secret Recipe Almonds</strong> <br>
			<p>These crunchy morsels are roasted and glazed in our world famous secret recipe glaze - the perfect combination of sweet vanilla with a hint of saltiness. Mmmmm!</p>
			<p>Great as a stand alone snack or chop them up and use them as a topping for ice cream, yogurt, salads and more!</p> <br>

			<strong>Cinnamon Almonds</strong> <br>
			<p>The original Bavarian Cinnamon Almond. Sweet - with the perfect hints of Vanilla and Cinnamon. These crunchy bits will take you straight to the Old World!</p>
			<p>Great as a stand alone snack or chop them up and use them as a topping for ice cream, yogurt, salads and more!</p> <br>

			<strong>Secret Recipe Peanuts</strong> <br>
			<p></p>
			<p></p> <br> <br>

			<strong>Mix It Up!</strong> <br>
			<p>Your FAVORITES all in one bag! You select the nuts for your own customized mix!</p> <br>-->

			<a href="" ng-click='vm.state.infoBox=!vm.state.infoBox'>Hide Flavor Discriptions</a> <br> <br>

		</div>
	</div>

	<div class="row">
	<div 	class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
			ng-show='true'>
	
	<!--Selction Table-->
	<table class="table">

		<!--Header Row-->
		<tr>
			<th scope='col'></th>
			<th scope='col'>Flavor
			</th>
			<th scope='col'>Price</th>
			<th scope='col'></th>
		</tr>

		{{vm.anorder}}
		<!--Products Rows-->
		<tr ng-repeat='product in vm.orderList track by $index'>
			<!--Product Id-->
			<td>{{product.id}}</td>
	
			<!--Flavor Selction-->
			<td>
				
				<!--Select Flavor-->
				<form class='form'>
				<select name="flavorPicker" 
						id="flavorPicker" 
						ng-model='product.flavor'
						class='form-control'
						ng-options="flavor.name as flavor.name for flavor in vm.flavors"
						ng-change='vm.updateShoppingCart()'>
					<option disabled value=''>- Please Choose -</option>
				</select>
				</form>
				<!--
				Old Data list, doesn't work on some browsers
				<input 	list='flvrSelector'
						ng-model='product.flavor'
						placeholder='Select A Flavor'
						class='form-control'
						ng-blur="vm.validateProducts()"
				>-->
				<!--Mix Flavor selection-->
					<div 	ng-if='product.flavor=="Mix-It-Up (10.4oz)"'>
					<strong><u>My mix needs {{product.mixflvrCount}} flavors</u></strong> <br>
						
						<ul style='list-style:none' class="list-group">
							<li ng-repeat='flavor in product.mixflvrs track by flavor.id'
								ng-class='product.mixflvrs[flavor.id].classes'
								ng-click='flavor.selected=!flavor.selected; flavor.classes.active=!flavor.classes.active; product.mixflvrCount = vm.countMixFlavors(product.mixflvrs); vm.buildFlavorList(product.id - 1)'
								>
								{{flavor.name}}
							</li>
						</ul>

					</div>
				</div>
				<div class="row">
					<span 	class='col-xs-12 col-sm-12 col-md-12 col-lg-12'
						ng-if='product.id == (vm.orderList.length) && product.id < 4'>
						<button class="btn btn-success btn-block"
								ng-click='vm.addAProduct()'>
								Add more
						</button>
					</span>
				</div>
				
			</td>

			<!--Price-->
			<td>
				<span ng-if="product.id > 3">FREE!</span>
				<span ng-if='product.id <= 3'>{{vm.productPrice / 100 | currency: "$": 2}}</span>
				
			</td>

			<!--Removal button-->
			<td>
				<button ng-if='product.id == 1'
						ng-click='product.flavor = ""'
						class='btn btn-secondary'>remove
					
				</button>
				<button ng-if='product.id > 1'
						class="btn btn-danger"
						ng-click='vm.removeAProduct(product.id)'>
					remove
				</button>
			</td>
		</tr>

		<!--Promo code row
		<tr>
			<td></td>
			<td>
				<span>Promotional Code:<input class='block' type="text"></span> <br>
				<div ng-hide='true'>
				<strong>Free Sack!</strong> <br>
				<span>Awesome, your code entitles you to a free extra sack of nuts on your 3rd shippment.  We'll contact you by email prior to your 3rd shipment to confirm.</span> <br>
				</div>

				<div ng-hide='true'>
					<strong>Darn!</strong> <br>
					<span>We don't recognize that promo code. Sorry!</span>
				</div>

			</td>

			<td>
				<button class="btn btn-success">Check</button>
			</td>
			<td></td>
		</tr>-->
		<!--Sum Row-->
		<tr>
			<td></td>
			<td>
				<span>Discounts:</span> <br>
				<span>Shipping:</span> <br>
				<strong>TOTAL:</strong>
			</td>
			<td>
				<span>{{vm.order.discounts / 100 | currency: "$": 2}}</span> <br>
				<span>{{0 | currency: "$": 2}}</span> <br>
				<strong>
					{{vm.order.total / 100 | currency: "$": 2}}
				</strong>
				
			</td>
			<td></td>
		</tr>
	</table>

	</div>	
	</div>
</div>
</div>

<!--Datalists-->
<!--<datalist name="flvrSelector" id="flvrSelector">
	<option ng-repeat="flavor in vm.flavors track by $index"
			style='font-size: 12pt'
			ng-click=''>
			{{flavor.name}}
	</option>

</datalist>-->

</div>